# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
.env

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Builds
*.apk
*.pkg
*.ipa
build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.cer
/.secure_files

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

.npmrc

# EAS
.easignore
eas.json.bak

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Android
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/app/release/

# iOS
ios/build/
ios/Pods/
ios/*.xcworkspace/xcuserdata/
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/
ios/Podfile.lock

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.temp
